@model ML.Usuario
<link rel="stylesheet" href="~/Content/Estilos.css" type="text/css" />
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/ecotech.svg" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail", autofocus = "true", @placeholder = "Email" })
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "txtPassword", @placeholder = "Password" })
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            

        </div>
    </div>
}

